/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.1742)
    Source Database Engine Edition : Microsoft SQL Server Standard Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [ADS_2]    Script Date: 17-Feb-21 10:40:01 PM ******/
CREATE DATABASE [ADS_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ADS_2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ADS_2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ADS_2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\ADS_2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ADS_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ADS_2]
GO
USE [ADS_2]
GO
/****** Object:  Table [dbo].[ACC_TRANS_BODY]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACC_TRANS_BODY](
	[ATBODY_ID] [bigint] NOT NULL,
	[ATHEADER_ID] [bigint] NULL,
	[USER_ID] [bigint] NULL,
	[ACCHEAD_ID] [bigint] NULL,
	[ATBODY_DOCSNO] [int] NULL,
	[ATBODY_DATE_TRANS] [date] NULL,
	[ATBODY_DATE_SYSTEM] [date] NOT NULL,
	[ATBODY_TIME_SYSTEM] [time](7) NULL,
	[ATBODY_AMOUNT_TRANS] [float] NULL,
	[ATBODY_DATE_APP] [date] NULL,
 CONSTRAINT [PK_ACC_TRANS_BODY] PRIMARY KEY CLUSTERED 
(
	[ATBODY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACC_TRANS_HEADER]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACC_TRANS_HEADER](
	[ATHEADER_ID] [bigint] NULL,
	[ATHEADER_DOCNO] [nchar](10) NULL,
	[ATHEADER_DOCTYPE] [nchar](1) NULL,
	[AUTHORITY_ID] [bigint] NULL,
	[ATHEADER_APP_DATE] [date] NULL,
	[ATHEADER_APP_TIME] [time](7) NULL,
	[ATHEADER_APP_STATUS] [nchar](1) NULL,
	[ATHEADER_DOCPART] [nchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_ATTRIBUTES]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_ATTRIBUTES](
	[ACCATTRIBUTE_ID] [bigint] NOT NULL,
	[ACCHEAD_ID] [bigint] NULL,
	[ACCATTRIBUTE_TYPE] [nchar](1) NULL,
	[ACCATTRIBUTE_SIZE_CHASS] [nchar](20) NULL,
	[ACCATTRIBUTE_AREA_ENGINENO] [nchar](20) NULL,
 CONSTRAINT [PK_ACCOUNT_ATTRIBUTES] PRIMARY KEY CLUSTERED 
(
	[ACCATTRIBUTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNT_HEADS]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT_HEADS](
	[ACCHEAD_ID] [bigint] NOT NULL,
	[ACCPARENTHEAD_ID] [bigint] NOT NULL,
	[ACCHEAD_NAME] [nchar](60) NOT NULL,
	[ATTRIBUTE_CHOICE] [nchar](1) NULL,
	[DEPCARD_CHOICE] [nchar](1) NULL,
	[ADDCARD_CHOICE] [nchar](1) NULL,
	[PICTURE_CHOICE] [nchar](1) NULL,
 CONSTRAINT [PK_ACCOUNT_HEADS] PRIMARY KEY CLUSTERED 
(
	[ACCHEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADDRESS_CARD]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS_CARD](
	[ACC_ADDR_ID] [bigint] NOT NULL,
	[ACCHEAD_ID] [bigint] NULL,
	[ADDRESS_LINE1] [nchar](50) NULL,
	[ADDRESS_LINE2] [nchar](50) NULL,
	[ADDRESS_LINE3] [nchar](50) NULL,
	[CITY] [nchar](50) NULL,
	[COUNTRY] [nchar](50) NULL,
	[PHONE1] [nchar](15) NULL,
	[PHONE2] [nchar](15) NULL,
	[EMAIL] [nchar](50) NULL,
	[CR_LIMIT_AMOUNT] [float] NULL,
	[CR_LIMIT_DAYS] [int] NULL,
 CONSTRAINT [PK_ADDRESS_CARD] PRIMARY KEY CLUSTERED 
(
	[ACC_ADDR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[APPROVAL_AUTHORITIES]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPROVAL_AUTHORITIES](
	[AUTHORITY_ID] [bigint] NOT NULL,
	[AUTHORITY_NAME] [nchar](30) NULL,
	[AUTHORITY_PASSWORD] [nchar](20) NULL,
	[APP_RV_AMOUNT] [float] NULL,
	[APP_PV_AMOUNT] [float] NULL,
	[APP_JV_AMOUNT] [float] NULL,
	[APP_ADJV_AMOUNT] [float] NULL,
	[APP_PROV_AMOUNT] [float] NULL,
	[APP_SALE_AMOUNT] [float] NULL,
	[APP_SALERET_AMOUNT] [float] NULL,
	[APP_PURCHASE_AMOUNT] [float] NULL,
	[APP_PURCHASERET_AMOUNT] [float] NULL,
 CONSTRAINT [PK_APPROVAL_AUTHORITIES] PRIMARY KEY CLUSTERED 
(
	[AUTHORITY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKProperties]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKProperties](
	[BOOK_ID] [bigint] NOT NULL,
	[BOOK_TITLE] [nchar](60) NULL,
	[ACCHEAD_ID] [bigint] NULL,
	[BOOK_VOUCHER_NO_DR] [int] NULL,
	[BOOK_VOUCHER_PREFIX_DR] [nchar](5) NULL,
	[BOOK_VOUCHER_TITLE_DR] [nchar](60) NULL,
	[BOOK_VOUCHER_NO_CR] [int] NULL,
	[BOOK_VOUCHER_PREFIX_CR] [nchar](5) NULL,
	[BOOK_VOUCHER_TITLE_CR] [nchar](60) NULL,
 CONSTRAINT [PK_BOOKProperties] PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_RECORD]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_RECORD](
	[DB_RECORD_ID] [bigint] NOT NULL,
	[DB_NAME] [nchar](10) NULL,
	[DB_COUNT] [bigint] NULL,
 CONSTRAINT [PK_DB_RECORD] PRIMARY KEY CLUSTERED 
(
	[DB_RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPRICIATION_CARD]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPRICIATION_CARD](
	[DEPCARD_ID] [bigint] NOT NULL,
	[ACCHEAD_ID] [bigint] NOT NULL,
	[DEP_PURCHASEDATE] [date] NULL,
	[DEP_RATE] [float] NULL,
	[DEP_METHOD] [nchar](1) NULL,
	[DEP_LIFE] [int] NULL,
	[ACCATTRIBUTE_DEP_SALVAGE] [float] NULL,
	[DEP_YEARLYRATE] [nchar](1) NULL,
 CONSTRAINT [PK_DEPRICIATION_CARD] PRIMARY KEY CLUSTERED 
(
	[DEPCARD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPRICIATION_YEARLYRATES]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPRICIATION_YEARLYRATES](
	[DEPCARD_RATE_ID] [bigint] NOT NULL,
	[DEPCARD_ID] [bigint] NOT NULL,
	[YEARNO] [int] NOT NULL,
	[YEARRATE] [float] NULL,
 CONSTRAINT [PK_DEPRICIATION_YEARLYRATES_1] PRIMARY KEY CLUSTERED 
(
	[DEPCARD_RATE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_TRANS_BODY]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_TRANS_BODY](
	[ITBODY_ID] [bigint] NOT NULL,
	[ITHEADER_ID] [bigint] NOT NULL,
	[USER_ID] [bigint] NULL,
	[INVHEAD_ID] [bigint] NULL,
	[ITBODY_DOCSNO] [int] NULL,
	[ITBODY_DATE_TRANS] [date] NULL,
	[ITBODY_DATE_SYSTEM] [date] NULL,
	[ITBODY_TIME_SYSTEM] [time](7) NULL,
	[ITBODY_QUANTITY] [float] NULL,
	[ITBODY_QUANTITY_UNIT] [nchar](15) NULL,
	[ITBODY_RATE] [float] NULL,
	[ITBODY_RATE_UNIT] [nchar](15) NULL,
	[ITBODY_AMOUNT] [float] NULL,
	[ITBODY_DISCOUNT_RATE] [float] NULL,
	[ITBODY_DISCOUNT_AMOUNT] [float] NOT NULL,
 CONSTRAINT [PK_INV_TRANS_BODY] PRIMARY KEY CLUSTERED 
(
	[ITBODY_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_TRANS_FOOTER]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_TRANS_FOOTER](
	[ITHEADER_ID] [bigint] NOT NULL,
	[ATHEADER_ID] [bigint] NULL,
	[ACCHEAD_ID] [bigint] NULL,
	[ACCHEAD_AMOUNT] [float] NULL,
	[AMOUNT_ADD_DEDUCT] [nchar](1) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INV_TRANS_HEADER]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INV_TRANS_HEADER](
	[ITHEADER_ID] [bigint] NOT NULL,
	[AUTHORITY_ID] [bigint] NULL,
	[ITHEADER_DOCNO] [nchar](10) NULL,
	[ITHEADER_DOCTYPE] [nchar](10) NULL,
	[ITHEADER_APP_DATE] [date] NULL,
	[ITHEADER_APP_TIME] [time](7) NULL,
	[ITEADER_APP_STATUS] [nchar](1) NULL,
	[ITHEADER_TRANSPORT_MO] [nchar](20) NULL,
	[ITHEADER_TRANSPORT_REF] [nchar](20) NULL,
 CONSTRAINT [PK_INV_TRANS_HEADER] PRIMARY KEY CLUSTERED 
(
	[ITHEADER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_ATTRIBUTES]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_ATTRIBUTES](
	[INV_ATTR_ID] [bigint] NOT NULL,
	[INVHEAD_ID] [bigint] NOT NULL,
	[STOCK_UNIT] [nchar](15) NULL,
	[PACKING_UNIT] [nchar](15) NULL,
	[LOOSE_UNIT] [nchar](15) NULL,
	[RATE_PER_LOOSE_UNIT] [float] NULL,
	[RATE_PER_STOCK_UNIT] [float] NULL,
	[RATE_PER_PACKING_UNIT] [float] NULL,
	[RATE_PRICE_LOOSE_UNIT] [float] NULL,
	[RATE_PRICE_STOCK_UNIT] [float] NULL,
	[RATE_PRICE_PACKING_UNIT] [float] NULL,
	[BALANCE_LOOSE_UNIT] [float] NULL,
	[BALANCE_STOCK_UNIT] [float] NULL,
	[BALANCE_PACKING_UNIT] [float] NULL,
	[COST_LOOSE_UNIT] [float] NULL,
	[COST_STOCK_UNIT] [float] NULL,
	[COST_PACKING_UNIT] [float] NULL,
	[SALE_CR_ACC] [bigint] NULL,
	[PURCHASE_DR_ACC] [bigint] NULL,
	[CONSUMPTION_DR_ACC] [bigint] NULL,
	[PRODUCTION_DR_ACC] [bigint] NULL,
 CONSTRAINT [PK_INVENTORY_ATTRIBUTES] PRIMARY KEY CLUSTERED 
(
	[INV_ATTR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_HEADS]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_HEADS](
	[INVHEAD_ID] [bigint] NOT NULL,
	[INVPARENTHEAD_ID] [bigint] NULL,
	[INVHEAD_NAME] [nchar](60) NULL,
	[INV_SPECIFICATION_CHOICE] [nchar](1) NULL,
	[INV_PICTURE_CHOICE] [nchar](1) NULL,
	[INV_CODE_PARTNO] [nchar](30) NULL,
 CONSTRAINT [PK_INVENTORY_HEADS] PRIMARY KEY CLUSTERED 
(
	[INVHEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INVENTORY_SPECIFICATIONS]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INVENTORY_SPECIFICATIONS](
	[INVHEAD_ID] [bigint] NOT NULL,
	[INV_SPECIFICATIONS] [nchar](255) NULL,
 CONSTRAINT [PK_INVENTORY_SPECIFICATIONS] PRIMARY KEY CLUSTERED 
(
	[INVHEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARENT_HEADS]    Script Date: 17-Feb-21 10:40:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARENT_HEADS](
	[PARENTHEAD_ID] [bigint] NOT NULL,
	[PARENTHEAD_TYPE] [nchar](1) NULL,
	[PARENTHEAD_CODE] [nchar](15) NULL,
	[PARENTHEAD_TITLE] [nchar](60) NULL,
 CONSTRAINT [PK_PARENT_HEADS] PRIMARY KEY CLUSTERED 
(
	[PARENTHEAD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PARENT_HEADS] ([PARENTHEAD_ID], [PARENTHEAD_TYPE], [PARENTHEAD_CODE], [PARENTHEAD_TITLE]) VALUES (1, N'A', N'010-000-000-000', N'NON CURRENT ASSETS                                          ')
INSERT [dbo].[PARENT_HEADS] ([PARENTHEAD_ID], [PARENTHEAD_TYPE], [PARENTHEAD_CODE], [PARENTHEAD_TITLE]) VALUES (2, N'A', N'010-001-000-000', N'LAND                                                        ')
INSERT [dbo].[PARENT_HEADS] ([PARENTHEAD_ID], [PARENTHEAD_TYPE], [PARENTHEAD_CODE], [PARENTHEAD_TITLE]) VALUES (3, N'A', N'010-002-000-000', N'BUILDING                                                    ')
GO
ALTER TABLE [dbo].[ADDRESS_CARD]  WITH CHECK ADD  CONSTRAINT [FK_ADDRESS_CARD_ACCOUNT_HEADS] FOREIGN KEY([ACCHEAD_ID])
REFERENCES [dbo].[ACCOUNT_HEADS] ([ACCHEAD_ID])
GO
ALTER TABLE [dbo].[ADDRESS_CARD] CHECK CONSTRAINT [FK_ADDRESS_CARD_ACCOUNT_HEADS]
GO
ALTER TABLE [dbo].[DEPRICIATION_CARD]  WITH CHECK ADD  CONSTRAINT [FK_DEPRICIATION_CARD_ACCOUNT_HEADS] FOREIGN KEY([ACCHEAD_ID])
REFERENCES [dbo].[ACCOUNT_HEADS] ([ACCHEAD_ID])
GO
ALTER TABLE [dbo].[DEPRICIATION_CARD] CHECK CONSTRAINT [FK_DEPRICIATION_CARD_ACCOUNT_HEADS]
GO
ALTER TABLE [dbo].[DEPRICIATION_YEARLYRATES]  WITH CHECK ADD  CONSTRAINT [FK_DEPRICIATION_YEARLYRATES_DEPRICIATION_CARD] FOREIGN KEY([DEPCARD_ID])
REFERENCES [dbo].[DEPRICIATION_CARD] ([DEPCARD_ID])
GO
ALTER TABLE [dbo].[DEPRICIATION_YEARLYRATES] CHECK CONSTRAINT [FK_DEPRICIATION_YEARLYRATES_DEPRICIATION_CARD]
GO
USE [master]
GO
